---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Media from '../components/Media.astro';
import Pricing from '../components/Pricing.astro';
import Booking from '../components/Booking.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <About />
    <Services />
    <Media />
    <Pricing />
    <Booking />
  </main>
  <Footer />
</BaseLayout>
